/* Remove the padding at the top of the page */
.block-container {
    padding-top: 2rem !important;
}

.main-title {
    color: #2c3e50;
    font-weight: 800;
    letter-spacing: -1px;
}

/* header {visibility: hidden;}
Remove the padding at the top of the page */
.block-container {
    padding-top: 2rem !important;
}

.loan-banner-strip {
    background-color: #04044a; /* Bright yellow */
    color: #ffffff;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    font-weight: Italic;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(240, 240, 240, 0.1);
}

[data-testid="stSidebar"] {
    background-color: #000f1d;
    min-width: 200px;
}

/* Base style for the result card */
/* Base style for the card */
/* Animation for when the value changes */
@keyframes pulse-glow {
    0% { box-shadow: 0 0 5px rgba(0, 172, 193, 0.2); }
    50% { box-shadow: 0 0 25px rgba(0, 172, 193, 0.6); }
    100% { box-shadow: 0 0 5px rgba(0, 172, 193, 0.2); }
}

.prediction-card {
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    animation: pulse-glow 2s infinite; /* Keeps it feeling "live" */
}

.status-accepted {
    background: rgba(224, 247, 250, 0.8);
    color: #006064;
    border: 1px solid #00acc1;
    border-top: 5px solid #00acc1; /* Top accent looks cool too */
}

.status-rejected {
    background: rgba(232, 234, 246, 0.8);
    color: #1a237e;
    border: 1px solid #3f51b5;
    border-top: 5px solid #3f51b5;
    animation: none; /* No pulse for rejection to keep it "heavy" */
}

.data-feed {
    background-color: #1a1a2e; /* Deep dark blue */
    color: #00d2ff;           /* Neon cyan text */
    padding: 15px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    border: 1px solid #00d2ff;
    box-shadow: 0 0 10px rgba(0, 210, 255, 0.2);
    max-height: 400px;        /* Keeps it minimalistic */
    overflow-y: auto;         /* Scrollable if needed */
    white-space: pre-wrap;    /* Wraps text nicely */
}


/*

[data-testid="sidebar-button"] {
    display: none !important;
} 

*/

/*
[data-testid="stJson"] {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1) !important;
    background-color: #08002f !important;
    border: 2.5px solid #fcfdff !important;
    border-radius: 10px;
}

[data-testid="stJson"] .react-json-view {
    background-color: transparent !important;
}


[data-testid="stJson"] .object-key {
    color: #ffffff !important; 
    opacity: 1 !important;
}


[data-testid="stJson"] .variable-value > div {
    color: #00ffcc !important; 
}


[data-testid="stJson"] .object-key-val span, 
[data-testid="stJson"] .brace-row {
    color: #ffffff !important;
} 

*/